.blogs_container{
 border: 2px solid black;
 margin-bottom: 20px;
 border-radius: 10px;

}
.blogs_container h2{
    margin-top: 5px;
}
.blogs_container a {
    color: black;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.blogs_container a:hover {
    color: #5f590773;
    border-bottom: 2px solid #5f590773;
    

}

.blogs_container p{
    font-size: small;
    margin-left: 20px;
    border: 1px solid;
    width: max-content;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 5px;
    padding:5px;
    background-color:#5f590773;

}