.footer_container{
  background-color: #84857f;
  color: white;
  display: flex;
  position: fixed;
  bottom: 30px;
  gap: 10px;
  justify-content: center;

}
.footer_container > a {
 text-decoration: none;
 color: black;
  
}
.footer_container > a > span{
  transition: transform 200ms ease-in;
  color: rgb(114, 97, 97);
}
.footer_container > a > span:hover{
  transform: scale(30px);
  background-color: black;
}



