.hero h1{
    margin-bottom: 30px;
    color: black;
    text-shadow:-1px 2px 4px #878786;
}
.hero{
    display: flex;
    flex-direction: column;
}
.hero p{
    color:black;
    padding-left: 20px;
   }
.about{
    background-color: #75746f29;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
}   
.about > h2{
    font-weight: 900;
    
}
.about > p{
    margin-top: 20px;
    word-break: keep-all;
    line-height: 130%;
}
.about > p> span { 
    background-color: rgba(71, 71, 71, 0.226);
    padding: 1px;
    border-radius: 2px;
}
